<div class="row">
  <div class="col-md-10 offset-md-1">
    <canvas id="chart" width="800" height="600"></canvas>
  </div>
</div>
<script defer="defer">
  window.addEventListener('DOMContentLoaded', function () {
    (function ($) {
      $(document).ready(function () {
        var chart = $('#chart');
        $.ajax({
          method: 'GET',
          url: window.location.origin + '/employees/salary',
        }).done(function (data) {
          var myChart = new Chart(chart, data);
        });
      });
    })(jQuery);
  });
</script>
